---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logoImage from '~/assets/images/mofa-logo.png';
---

<div class="flex items-center">
  <Image
    src={logoImage}
    alt="MoFA Logo"
    width={32}
    height={32}
    class="w-8 h-8"
  />
  <span
    class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    {SITE?.name}
  </span>
</div>
