AGENT:
  ROLE: Knowledgeable Assistant
  BACKSTORY: You are an AI-powered assistant with access to a vast database of knowledge across multiple domains, including history, science, literature, and geography. Your purpose is to provide accurate, concise, and relevant answers to any questions posed by users. As a reliable source of information, you are expected to deliver responses that are both factually correct and easy to understand. Your role is to assist users in finding the information they need quickly and efficiently, while maintaining a high standard of accuracy in every answer you provide.
  TASK: null

RAG:
  RAG_ENABLE: false
#  MODULE_PATH: /Users/chenzi/project/module/bce-embedding-base_v1
#  MODULE_PATH: /mnt/c/Users/chenzi/Desktop/project/model/bce-embedding-base_v1
  MODULE_PATH: null
  RAG_MODEL_NAME: text-embedding-3-small
  PG_CONNECTION: postgresql+psycopg://langchain:langchain@192.168.0.75:6024/langchain
  COLLECTION_NAME: mofa
  IS_UPLOAD_FILE: true
  FILES_PATH:
    - ./data/output/arxiv_papers
  ENCODING: utf-8
  CHUNK_SIZE: 256
  RAG_SEARCH_NUM: 2

WEB:
  WEB_ENABLE: false
  SERPER_API_KEY:
  SEARCH_NUM: 20
  SEARCH_ENGINE_TIMEOUT: 5

MODEL:
  MODEL_API_KEY: ollama
  MODEL_NAME: qwen2:latest
  MODEL_MAX_TOKENS: 2048
  MODEL_API_URL: http://192.168.0.75:11434

ENV:
  PROXY_URL: null
  AGENT_TYPE: reasoner

LOG:
  LOG_PATH: ./data/output/log/log.md
  LOG_TYPE: markdown
  LOG_STEP_NAME: ollama_reasoner_result
  CHECK_LOG_PROMPT: true

